/**/~*
/**/*.bak
/**/node_modules/
#/**/github/
/**/public/locales/
/**/public/static/
/**/logs/
/**/package-lock.json
/**/.env
/bin/
/build/
/**/build-mingw/bin/
/**/build-mingw/build/
/**/build-wsl/bin/
/**/build-wsl/build/
